interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://finance.yahoo.com/news/rssindex
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rss xmlns:media=\"http://search.yahoo.com/mrss/\"
        version=\"2.0\"><channel><title>Yahoo Finance</title><link>https://finance.yahoo.com/</link><description>At
        Yahoo Finance, you get free stock quotes, up-to-date news, portfolio management
        resources, international market data, social interaction and mortgage rates
        that help you manage your financial life.</description><language>en-US</language><copyright>Copyright
        (c) 2026 Yahoo! Inc. All rights reserved</copyright><pubDate>Sat, 16 May 2026
        11:16:04 -0400</pubDate><ttl>5</ttl><image><title>Yahoo Finance</title><link>https://finance.yahoo.com/</link><url>https://s.yimg.com/zz/nn/lib/metro/g/my/yahoo_en-US_f_p_190x45_2x.png</url></image><item><title>AI
        data centers employ very few people: What the numbers how</title><link>https://finance.yahoo.com/sectors/technology/articles/ai-data-centers-employ-very-165832949.html</link><pubDate>2026-05-15T16:58:32Z</pubDate><source
        url=\"https://qz.com/\">Quartz</source><guid isPermaLink=\"false\">ai-data-centers-employ-very-165832949.html</guid><media:content
        height=\"86\" url=\"https://media.zenfs.com/en/quartz_855/4750c76901219c8aa1d8db05adca3eae\"
        width=\"130\"/><media:credit role=\"publishing company\"/></item><item><title>These
        5 major tax mistakes can lead to costly headaches after you retire. Learn
        how to avoid them now</title><link>https://finance.yahoo.com/economy/policy/articles/5-major-tax-mistakes-lead-142500882.html</link><pubDate>2026-05-16T14:25:00Z</pubDate><source
        url=\"https://moneywise.com/\">Moneywise</source><guid isPermaLink=\"false\">5-major-tax-mistakes-lead-142500882.html</guid><media:content
        height=\"86\" url=\"h[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://search.cnbc.com/rs/search/combinedcms/view.xml?id=100003114&partnerId=wrss01
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rss xmlns:metadata=\"http://search.cnbc.com/rss/2.0/modules/siteContentMetadata\"
        version=\"2.0\" xmlns:atom=\"http://www.w3.org/2005/Atom\" xmlns:cnbc=\"http://cnbc.com/rss/elements/1.0/\">
        \ <channel>    <atom:link rel=\"self\" type=\"application/rss+xml\" href=\"https://www.cnbc.com/id/100003114/device/rss/rss.html\"/>
        \   <language>en-us</language>    <ttl>60</ttl>    <title>US Top News and
        Analysis</title>    <feed_asset>      <id>100003114</id>      <type>franchise</type>
        \     <subtype>section</subtype>      <seo>https://www.cnbc.com/us-top-news-and-analysis/</seo>
        \   </feed_asset>    <lastBuildDate>Sat, 16 May 2026 14:51 GMT</lastBuildDate>
        \   <pubDate>Sat, 16 May 2026 14:51 GMT</pubDate>    <link>https://www.cnbc.com/us-top-news-and-analysis/</link>
        \   <description><![CDATA[CNBC is the world leader in business news and real-time
        financial market coverage. Find fast, actionable information.]]></description>
        \   <item>      <link>https://www.cnbc.com/2026/05/14/stock-market-today-live-updates.html</link>
        \     <guid isPermaLink=\"false\">108307235</guid>      <metadata:type>live_story</metadata:type>
        \     <metadata:id>108307235</metadata:id>      <metadata:sponsored>false</metadata:sponsored>
        \     <title>Dow loses more than 500 points Friday as tech slumps and yields
        spike: Live updates</title>      <description><![CDATA[Stocks fell on Friday,
        bogged down by losses in technology stocks and a rise in U.S. Treasury yields.
        ]]></description>      <pubDate>Fri, 15 May 2026 20:36:37 GMT</pubDate>    </item>
        \   <item>      <link>https://www.cnbc.com/2026/05/16/trumps-meeting-with-chinas-xi-steers-the-us-away-from-taiwan-again.html</link>
        \     <guid isPermaLink=\"false\">108307426</guid>      <metadata:type>cnbcnewsstory</metadata:type>
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://feeds.bloomberg.com/markets/news.rss
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rss xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        version=\"2.0\" xmlns:media=\"http://search.yahoo.com/mrss/\"><channel><title><![CDATA[Bloomberg
        Markets]]></title><description><![CDATA[Bloomberg Markets]]></description><link>https://bloomberg.com/markets/</link><image><url>https://www.bloomberg.com/feeds/static/images/bloomberg_logo_blue.png</url><title>Bloomberg
        Markets</title><link>https://bloomberg.com/markets/</link></image><generator>RSS
        for Node</generator><lastBuildDate>Sat, 16 May 2026 15:25:21 GMT</lastBuildDate><copyright><![CDATA[Copyright
        2026 BLOOMBERG L.P. ALL RIGHTS RESERVED]]></copyright><language><![CDATA[en]]></language><item><title><![CDATA[Latvia\u2019s
        President Nominates Kulbergs to Form New Government]]></title><description><![CDATA[Latvia\u2019s
        President Edgars Rinkevics nominated Andris Kulbergs of the United List party
        to form a new government after Prime Minister Evika Silina resigned on Thursday
        following a row over how the armed forces handled a drone incursion last week.]]></description><link>https://www.bloomberg.com/news/articles/2026-05-16/latvia-s-president-nominates-kulbergs-to-form-new-government</link><guid
        isPermaLink=\"true\">https://www.bloomberg.com/news/articles/2026-05-16/latvia-s-president-nominates-kulbergs-to-form-new-government</guid><dc:creator><![CDATA[Aaron
        Eglitis]]></dc:creator><pubDate>Sat, 16 May 2026 13:39:52 GMT</pubDate><media:content
        url=\"https://assets.bwbx.io/images/users/iqjWHBFdfxIU/i1kl..9QcIMI/v1/1200x-1.jpg\"
        type=\"image/jpeg\"><media:thumbnail url=\"https://assets.bwbx.io/images/users/iqjWHBFdfxIU/i1kl..9QcIMI/v1/1200x-1.jpg\"></media:thumbnail><media:description><![CDATA[Andris
        Kulbergs, member of Latvia's parliament, the Saeima, from the Joint List (Apvienotais
        Sarakts), arrives to attend a meeting with Latvia's President (not in picture)
        and with representatives from parliamentary factions of all parties to discuss
        about a new candidate for Prime Minister of Latvia, on May 16.]]></media:description></media:content></item><item><title><![CDATA[India
        Tightens Silver Import Rules Amid Measures to Defend Rupee]]></t[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://feeds.content.dowjones.io/public/rss/mw_topstories
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:media="http://search.yahoo.com/mrss/"
        xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0"

        >

        <channel>

        <title>MarketWatch.com - Top Stories</title>

        <description>MarketWatch, a l[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://rss.nytimes.com/services/xml/rss/nyt/Business.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:media=\"http://search.yahoo.com/mrss/\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:nyt=\"http://www.nytimes.com/namespaces/rss/2.0\" version=\"2.0\">\n
        \ <channel>\n    <title>NYT &gt; Business</title>\n    <link[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://rss.nytimes.com/services/xml/rss/nyt/Economy.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:media=\"http://search.yahoo.com/mrss/\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:nyt=\"http://www.nytimes.com/namespaces/rss/2.0\" version=\"2.0\">\n
        \ <channel>\n    <title>NYT &gt; Business &gt; Economy</title[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://seekingalpha.com/market-news.xml
  response:
    body:
      string: "<?xml version=\"1.0\"?>\n<rss xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        version=\"2.0\">\n  <channel>\n    <title>News feed - all</title>\n    <description>&#xA9;
        seekingalpha.com. Use of this feed is limited to personal, non-commercial
        use and is governed by Seeking Alpha's Terms of Use (https://about.seekingalpha.com/terms).
        Publishing this feed for public or commercial use and/or misrepresentation
        by a third party is prohibited.</description>\n    <author>\n      <name>SeekingAlpha.com</name>\n
        \   </author>\n    <link>https://seekingalpha.com</link>\n    <item>\n      <title>Insider
        trades: Micron, Taiwan Semiconductor, Citigroup among notable names</title>\n
        \     <link>https://seekingalpha.com/news/4594064-insider-trades-micron-taiwan-semiconductor-citigroup-among-notable-names?source=generic_rss</link>\n
        \     <guid isPermaLink=\"false\">4594064</guid>\n      <pubDate>Sat, 16 May
        2026 11:03:08 -0400</pubDate>\n      <category type=\"symbol\" link=\"https://seekingalpha.com/symbol/C\">C</category>\n
        \     <category type=\"symbol\" link=\"https://seekingalpha.com/symbol/CAT\">CAT</category>\n
        \     <category type=\"symbol\" link=\"https://seekingalpha.com/symbol/CVS\">CVS</category>\n
        \     <category type=\"symbol\" link=\"https://seekingalpha.com/symbol/MU\">MU</category>\n
        \     <category type=\"symbol\" link=\"https://seekingalpha.com/symbol/TSM\">TSM</category>\n
        \     <categ[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://news.google.com/rss/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRGx6TVdZU0FtVnVHZ0pWVXlnQVAB
  response:
    body:
      string: ''
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      Content-Type:
      - application/binary
      Location:
      - https://news.google.com/rss/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRGx6TVdZU0FtVnVHZ0pWVXlnQVAB?hl=en-US&gl=US&ceid=US:en
    status:
      code: 302
      message: Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://news.google.com/rss/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRGx6TVdZU0FtVnVHZ0pWVXlnQVAB?ceid=US%3Aen&gl=US&hl=en-US
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><rss version=\"2.0\"
        xmlns:media=\"http://search.yahoo.com/mrss/\"><channel><generator>NFE/5.0</generator><title>Business
        - Latest - Google News</title><link>https://news.google.com/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRGx6TVdZU0FtVnVHZ0pWVXlnQVAB?hl=en-US&amp;gl=US&amp;ceid=US:en</link><language>en-US</language><webMaster>news-webmaster@google.com</webMaster><copyright>Copyright
        \xA9 2026 Google. All rights reserved. This XML feed is made available solely
        for the purpose of rendering Google News results within a personal feed reader
        for personal, non-commercial use. Any other use of the feed is expressly prohibited.
        By accessing this feed or using these results in any manner whatsoever, you
        agree to be bound by the foregoing restrictions.</copyright><lastBuildDate>Sat,
        16 May 2026 15:25:31 GMT</lastBuildDate><image><title>Google News</title><url>https://lh3.googleusercontent.com/-DR60l-K8vnyi99NZovm9HlXyZwQ85GMDxiwJWzoasZYCUrPuUM_P_4Rb7ei03j-0nRs0c4F=w256</url><link>https://news.google.com/</link><height>256</height><width>256</width></image><description>Google
        News</description><item><title>LIRR strike shuts down nation's busiest commuter
        train line, union says 'we're far apart' - Gothamist</title><link>https://news.google.com/rss/articles/CBMinwFBVV95cUxNc2dJODBQSnlZNHRqSXFsOXdyblpLWjRuZXNhZ0trcl9SMHgzelBLMUN2SmkxRjBMWk0wQzVOcDNfZ3FCTURtSzFXcU84MFlGWVc2SDVnRTh6YmhQZUo1NTV0T0FCTm12M05JRXQ3X2JmZXJudEtXdW5BcHBhaWtMbGNhRE9meFpfMTBsUUVYM2JJMzBMMEp6MDkyZGdqcUE?oc=5</link><guid
        isPermaLink=\"fal[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.scmp.com/rss/4/feed/
  response:
    body:
      string: "<?xml version=\"1.0\"?>\n<rss version=\"2.0\" xml:base=\"link\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:fb=\"http://www.facebook.com/2008/fbml\" xmlns:foaf=\"http://xmlns.com/foaf/0.1/\"
        xmlns:media=\"http://www.rssboard.org/media[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.chinamoneynetwork.com/feed/
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/rss+xml; charset=UTF-8
      Last-Modified:
      - Sat, 16 May 2026 03:32:58 GMT
      Location:
      - https://www.chinamoneynetwork.com/feed
      X-Redirect-By:
      - WordPress
      X-dlm-no-waypoints:
      - 'true'
      X-turbo-charged-by:
      - LiteSpeed
      panel:
      - hpanel
      platform:
      - hostinger
    status:
      code: 301
      message: Moved Permanently
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.chinamoneynetwork.com/feed
  response:
    body:
      string: !!binary |
        KLUv/QBY5HcAGr1wIDDAjKq0AVjg5tJRysI9tSNHB6jpkC1/M2i2/dswH3MZu6cJP21qbHLkAZZF
        EGhg+QwSAvsB6wEQa3dwXwBwQQ6Hw+F4RMqppZpVRjkoCMWqY4XYUVFvBQ+E5HmIPBCTyOT5VnaQ
        bzl+kVHzRze5JZuznVtjiXSAQAiQ8OFu+pIdK0QKGfVG4HhETPsMOR75QI+XIl4JcjweaNIQIT1j
        zosPFLWDPDhsPDioSKRhIxJpUN/71MHW94rtU+2LVU/rgUy9uagcp70IOR4RG+nE0OPxQM/z17e9
        ESRx[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://www.xinhuanet.com/english/rss/worldrss.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<rss version=\"2.0\">\r\n<channel>\r\n<title>XINHUANEWS</title>\r\n<description>World</description>\r\n<generator>XINHUA
        NEWS</generator>\r\n<item><title><![CDATA[Palestinians clash with Israeli
        soldiers after protest against Pence visit]]></title>    <link>http://www.xinhuanet.com/englis[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://asia.nikkei.com/rss/feed/nar
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rdf:RDF xmlns=\"http://purl.org/rss/1.0/\"
        xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\">\n  <channel rdf:about=\"https://asia.nikkei.com/rss/feed/nar\"
        xml:lang=\"en-GB\">\n    <title>Nikkei Asia</title>\n    <link>https://asia.nikkei.com/</link>\n
        \   <description/>\n    <items>\n      <rdf:Seq>\n        <rdf:li resource=\"https://asia.nikkei.com/politics/defense/japan-to-bolster-sea-lane-defense-with-southeast-asia-info-sharing-plan\"/>\n
        \       <rdf:li resource=\"https://asia.nikkei.com/spotlight/trump-xi-summit/china-says-xi-and-trump-agreed-to-spur-trade-by-lowering-some-tariffs\"/>\n
        \       <rdf:li resource=\"https://asia.nikkei.com/business/travel-leisure/japan-s-toyama-hopes-kombu-culture-keeps-foreign-visitors-coming\"/>\n
        \       <rdf:li resource=\"https://asia.nikkei.[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://economictimes.indiatimes.com/markets/rssfeeds/1977021501.cms
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rss xmlns:atom=\"http://www.w3.org/2005/Atom\"
        version=\"2.0\"><channel><title>Markets-Economic Times</title><link>https://economictimes.indiatimes.com/markets</link><description><![CDATA[Share
        Market Today | Share Market Live updates: Get all the Latest Share Market
        News and Updates on The Economic Times. Share Market Live Charts, News, Analysis,
        IPO News and more.]]> </description><language>en-gb</language><lastBuildDate>Sat,
        16 May 2026 20:41:45 +0530</lastBuildDate><atom:link type=\"application/rss+xml\"
        rel=\"self\" href=\"https://economictimes.indiatimes.com/rssfeeds/1977021501.cms\"/><copyright>Copyright:(C)
        2026 Bennett Coleman and Co. Ltd, http://info.indiatimes.com/terms/tou.html</copyright><docs>http://syndication.indiatimes.com/</docs><image><title>Economic
        Times</title><url>https://img.etimg.com/thumb/msid-76939477,width-600,height-60/economictimes.jpg</url><link>https://economictimes.indiatimes.com/markets</link></image><item><title><![CDATA[Vodafone
        Idea Q4 Results: Co swings to black, posts profit of Rs 51,970 cr on one-time
        gain; revenue up 3% YoY]]> </title><description><![CDATA[Vodafone Q4 Results:
        Vodafone Idea reported a net profit of Rs 51,970 [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ft.com/world?format=rss
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rss xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        version=\"2.0\"><channel><title><![CDATA[World]]></title><description><![CDATA[World]]></description><link>https://www.ft.com/stream/82645c31-4426-4ef5-99[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ecb.europa.eu/rss/press.html
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:atom=\"http://www.w3.org/2005/Atom\"><channel>\n\t\t\t\t<title>ECB
        - European Central Bank</title><link>https://www.ecb.europa.eu/</link><description>Latest
        releases on the ECB website - Press releases, speeches and interviews, press
        conferences.</description><lang[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://rss.dw.de/rdf/rss-en-bus
  response:
    body:
      string: ''
    headers:
      Location:
      - https://rss.dw.com/rdf/rss-en-bus
      Proxy-Connection:
      - keep-alive
    status:
      code: 301
      message: Moved Permanently
- request:
    body: ''
    headers:
    method: GET
    uri: https://rss.dw.com/rdf/rss-en-bus
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rdf:RDF xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"
        xmlns=\"http://purl.org/rss/1.0/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:sy=\"http://purl.org/rss/modules/syndication/\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\"
        xmlns:dwsyn=\"http://rss.dw.com/syndication/dwsyn/\">\n <channel rdf:about=\"https://rss.dw.com/syndication/feeds/rss-en-bus.2091.rdf\">\n
        \ <description>Deutsche Welle: DW.com - Business</description>\n  <link>https://www.dw.com/s-1431?maca=en-rss-en-bus-2091-rdf</link>\n
        \ <title>Deutsche Welle: DW.com - Business</title>\n  <sy:updatePeriod>hourly</sy:updatePeriod>\n
        \ <sy:updateFequency>4</sy:updateFequency>\n  <sy:updateBase>2002-05-01T00:00:00Z</sy:updateBase>\n
        \ <dc:date>2026-05-16T15:20:46Z</dc:date>\n  <image rdf:resource=\"https://rss.dw.com/images/DW-L-RGB_whitebg.png\"/>\n
        \ <items>\n   <rdf:Seq>\n    <rdf:li rdf:resource=\"https://www.dw.com/en/who-is-mario-draghi-this-year-s-charlemagne-prize-winner/a-77115925?maca=en-rss-en-bus-2091-rdf\"/>\n
        \   <rdf:li rdf:resource=\"https://www.dw.com/en/honda-reports-first-loss-since-1957-as-it-waters-down-ev-strategy-but-shares-rise-on-2026-forecasts/a-77158590?maca=en-rss-en-bus-2091-rdf\"/>\n
     [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.euronews.com/rss?format=mrss&level=theme&name=business
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss version=\"2.0\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:media=\"http://search.yahoo.com/mrss/\">\n <channel>\n  <title>Business
        | Euronews RSS</title>\n  <link>http://www.euronews.com</link>\n  <language>en</language>\n
        \ <description>Latest news from [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.aljazeera.com/xml/rss/all.xml
  response:
    body:
      string: "<rss version=\"2.0\" xmlns:content=\"http://purl.org/rss/1.0/modules/content/\"
        xmlns:atom=\"http://www.w3.org/2005/Atom\" xmlns:media=\"http://search.yahoo.com/mrss/\"\n\t>\n\t<channel>\n\t\t<atom:link
        href=\"https://www.aljazeera.com/xml/rss/all.xml\" rel=\"self\" type=\"application/rss+xml\"/>\n\t\t<title>Al
        Jazeera &#8211; Breaking News, World News and Video from Al Jazeera</title>\n\t\t<link>https://www.aljazeera.com</link>\n\t\t<managingEditor>apps.support@aljazeera.net
        (Apps Support)</managingEditor>\n\t\t<webMaster>apps.support@aljazeera.net
        (Apps Support)</webMaster>\n\t\t<description>Breaking News, World News and
        Video from Al Jazeera</description>\n\t\t<copyright>\xA9 2026 Al Jazeera Media
        Network</copyright>\n\t\t<lastBuildDate>Sat, 16 May 2026 15:21:57 +0000</lastBuildDate>\n\t\t<language>en</language>\n\t\t<image>\n\t\t\t<url>https://www.aljazeera.com/images/logo_aje.png</url>\n\t\t\t<title>Al
 [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://oilprice.com/rss/main
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss version=\"2.0\"\n\txmlns:atom=\"http://www.w3.org/2005/Atom\"\n\txmlns:dc=\"http://purl.org/dc/elements/1.1/\"\n\t\t\t>\n
        \ <channel>\n    <title>Oilprice.com</title>\n    <link>https://oilprice.com/rss/main</link>\n
        \   <description>The latest news and headlines</description>\n    <pubDate>Sat,
        1[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.rt.com/rss/business/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss xmlns:media=\"http://search.yahoo.com/mrss/\"
        xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" version=\"2.0\">\n    <channel>\n
        \       <title>RT Business News</title>\n        <link>https://www.[...]
